* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     border: 1px red solid; */
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-size:large;
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: #DB5860;
}

nav a::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #DB5860;
    transition: all ease-in-out 1s;
    margin: 1.5% 0 0 0;
    position: absolute;
}

nav a:hover::before {
    width: 12.5%;
}

nav a[href="#"] {
    border-bottom: 2px #DB5860 solid;
}

header {
    height: 7vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #020b12df;
}

header > h2 {
    color: #DB5860;
    padding-right: 20%;
}

main {
    background-color: #ededed;
}

aside {
    width: 15vw;
    height: 100vh;
    background-color: #020B12;
}

.navegador {
    padding-top: 5rem;
    height: 100%;
}

.i {
    color: aqua;
}

.t {
    color: rgb(46, 184, 46);
}

.b {
    color: yellow;
}

.a {
    color: red;
}

/* A PARTIR DE ACÃ SON LOS ESTILOS DEL MAIN, EL RESTO SON DEL NAV Y EL HEADER */

.contenedor {
    display: flex;
}


.nav-separado {
    height: 100%;
}


.inicio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cuenta{
    display: flex;
    align-items: center;
    gap: 10px;
}

.transfer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cerrar-sesion {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ayuda {
    display: flex;
    align-items: center;
    gap: 10px;
}


.general {
    width: 85vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secciones {
    font-family: 'Oswald', sans-serif;
    
}

.seccion1 {
    width: 35vw;
    height: 80vh;
}

.dinero {
    width: 100%;
    height: 30%;
    border-radius: 6px;
    background-color: #ffff;
    box-shadow:  6px 6px 22px #9f9f9f,
             -6px -6px 22px #ffffff;
}

.sec-tarjeta h5 {
    font-size: 18px;
    color: black;
    text-align: center;
    border-bottom: 2px solid #ededed;
    width: 100%;
    display: flex;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

.dropdown-menu > li:hover {
    background-color: #ededed;
}

.grafico {
    width: 100%;
    height: 70%;
        border-radius: 6px;
    background-color: #ffff;
    box-shadow:  6px 6px 22px #9f9f9f,
             -6px -6px 22px #ffffff;
}

.seccion2 {
    width: 25vw;
    height: 60vh;
    border-radius: 6px;
    background-color: #ffff;
    box-shadow:  6px 6px 22px #9f9f9f,
             -6px -6px 22px #ffffff;
}